.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  /* color: rgb(135, 135, 135); */
  color: #2b2b2b;
  background: linear-gradient(
    109.6deg,
    rgb(240, 228, 122) 11.2%,
    rgb(253, 145, 212) 54.5%,
    rgb(176, 222, 234) 99.6%
  );
}

.Weather h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: #5772c3;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  color: rgb(33, 33, 33);
}

.Weather .temperature {
  font-weight: bold;
  color: #5772c3;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.form-control {
  color: #d24392;
  border: 1px solid #d24392;
}
.btn {
  color: #f0e47a;
  background-color: #d24392;
  border: 1px solid #f0e47a;
}
